*{
    font-family: 'Roboto';
    background-color: whitesmoke;
}

.container{
width: auto;
justify-content: center;
align-items: center;
}

.dropzone{
    flex-basis: 100%;
    flex-grow: 1;
    border-radius: 2px;
}



.test{
background-color: blue;
color: white;
width: auto;
}

.Scheduler{
    overflow-x: scroll;
    width: auto;
    box-shadow: 0 0.2rem 1rem rgba(0,0,0,0.4) ;
    height: "40%";
}

.item a{
    background-color: blue;
}
/* In order for the drag and drop example pane*/
.itembox{
    border: 2px solid black;
    background-color: lightgrey;
    display: flex;
    justify-content: left;
    padding: 10px;
    border-radius: 25px;
}

.origin{
    flex-basis: 100%;
    flex-grow: 1;
    padding: 10px;
}

.tooltip{
    font-size: 7pt;
    width: 100%;
    justify-content: center;
    color: grey;
    text-align: center;
    position: fixed;
    bottom: 0;
}

.item{
    background-color: yellow;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.dropzone{
    background-color: inherit;
flex-basis: 100%;
flex-grow: 1;
padding: 10px;
}

.empty{
height: 100%;
/*flex-basis: 100%;
flex-grow: 1;*/
}

.dateheader{
width: 100%;
display: flex;
justify-content: space-between;
color: white;
background-color: seagreen !important;
text-shadow: 0 0.1rem 1rem rgb(0,0,0);
align-content: center;
justify-content: center;
text-align: center;
}

.CurrentDate a{
    background-color: seagreen;
}

/* In order for the selection pane */
.dateheader i {
    background-color: seagreen !important;
    cursor: pointer;
}

.myView{
    overflow-x: scroll;
    width: 100%;
    align-items: center;
    table-layout: fixed;
    border-collapse: collapse;
}

.myView th{
border-left: 1px solid black;
}

.myView td{
    width: auto;
    border-left: 1px solid black;
    height: inherit;
    }

.myView thead tr{
    height: 1px;
    border: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}