*{
font-family: 'Roboto';
background-color: #20262D;
}
h1{
color: white;
}
.container{
background-color: inherit;
width: auto;
height: auto;
overflow-y: visible;
justify-content: center;
align-items: center;
}
.dropzone{
width:min-content;
flex-basis: 100%;
flex-grow: 1;
border-radius: 2px;
}
@keyframes fadein {
from { opacity: 0}
to   { opacity: 1}
}
.Scheduler{
background-color: inherit;
overflow-y: visible;
width: auto;
height: auto;
}
.item a{
text-align: center;
}
.toolbar{
justify-content: left;
display: flex;
}
/* In order for the drag and drop example pane*/
.itembox{
border: 1px solid black;
background-color: #6200EE;
width: 50%;
display: flex;
justify-content: left;
box-shadow: 0 0.2rem 1rem rgba(0,0,0,0.4) ;
padding: 10px;
}
.timeframe i{
cursor: pointer;
background: inherit;
color: white;
}
.timeframeselector{
float:left;
display: inline;
align-self: right;
text-align: right;
align-content: right;
justify-content: right;
padding-bottom: 8px;
width: 100%;
}
.sickness{
background: repeating-linear-gradient(
    -45deg,
    #152D08,
    #306612 10px,
    #20262D 10px,
    #48991A 20px);
width:100%;
color: white;
height: inherit;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
font-size: 0px;
}
.timeframe{
    float: right;
    display: inline;
    padding-top: 10px;
    align-self: right;
    padding-left: 10px;
    background: #6200EE;
    width:max-content;
    color: white;
    padding-bottom: 10px;
    border-radius: 30px;
}
.edititem label{
    font-size: small;
    padding-bottom: 10px;
}
.timeframe i{
    margin: 0 5px 0 5px;
}
.origin{
    background-color: inherit;
    flex-basis: 100%;
    flex-grow: 1;
    display: flex;
    padding: 10px;
}
.dropzone h1{
    vertical-align: top;
    font-size: 10pt;
    background-color: inherit;
    color: white;
}
.tooltiptext{
    font-size: 7pt;
    width: 100%;
    justify-content: center;
    color: grey;
    text-align: center;
    position: fixed;
    bottom: 0;
}
@media screen and (max-width: 425px) {
    .tooltip {
    margin: auto;
    width: 100%;
    float: none;
    left: -10%;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }}
.name{
    color: white;
    background: inherit;
}
.loadingcircle{
visibility: hidden;
background: rgb(37,43,70);
background: linear-gradient(0deg, rgba(37,43,70,0.87718837535014) 0%, rgba(0,3,22,0.47942927170868344) 10%);
text-align: center;
justify-content: center;
position: absolute;
width: 100%;
padding-top: 50%;
font-size: x-large;
z-index: 10000;
height: 100%
}
.item{
    flex: 1;
    background: #3700B3;
    color: white;
    white-space: nowrap;
    width: 30%;
	height:fit-content !important;
    display: flex;
    text-overflow: ellipsis;
    margin: 10px 0 10px 0;
    padding: 10px;
    cursor: grab;
    font-size: smaller;
    border-radius: 30px;
    vertical-align: top;
}
.item i{
    text-overflow: ellipsis;
    overflow: hidden;
    background-color: inherit;
    z-index: 1000;
}
.item:focus i{
    overflow: visible;
}
.delete{
    background: #6200EE !important;
    color: white;
    display: flex;
    justify-content: left;
    vertical-align: center;
    padding: 5px 7px 5px 10px;
    width:fit-content;
    cursor: pointer;
    border-radius: 10px;
}
.delete i{
    padding-top:1px;
    font-style: normal;
    justify-content: center;
    vertical-align: center;
    background: #6200EE !important;
    color: white;
    text-align: left;
}
.holiday{
    background: repeating-linear-gradient(
        -45deg,
        #20262D,
        #4a00e0 10px,
        #20262D 10px,
        #4a00e0 20px
      );
    width:100%;
    color: white;
    height: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0px;
}
.item:hover{
    align-content: center;
    transform:scale(1.1);
}
.dropzone{
    width: 80%;
    background-color: inherit;
    padding: 10px;
}
.empty{
    height: 100%;
    background: inherit;
    display: flex !important;
}
.empty:hover{
    filter: brightness(95%);
    background-color: #20262D;
    height: 100%;
}
.dateheader{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    vertical-align: center;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    color: white;
    background: #6200EE;
    text-shadow: 0 0.1rem 1rem rgb(0,0,0);
    align-content: center;
    justify-content: center;
    text-align: center;
}
.tooltipbuttons{
    vertical-align: end;
    align-content: end;
}
.item span{
    display: none;
    overflow: visible;
    vertical-align: top !important;
    background: #3E3D40;
    position: absolute;
    margin-left: 10px;
    animation: fadein 0.5s;
    padding-right: 0px;
    margin-top: 0px;
    width: 300px;
    justify-content: start;
    height: fit-content;
    color: white;
    text-align: left;
    border-radius: 7px;
    box-shadow: 0 0.2rem 1rem rgba(0,0,0,0.4) ;
}
.item span h1{
    font-size:large;
    display:block;
    width: 100%;
    height:max-content;
    left:0px !important;
    padding-bottom: 10px;
    top: 0px !important;
    vertical-align: top !important;
    background-color: #6200EE;
    color: inherit;
}
.item span p{
    margin-left: 10px;
    vertical-align: top !important;
    background-color: inherit;
    color: inherit;
}
.closebutton *{
    text-align: right !important;
    background-color: inherit;
}
.closebutton i{
    color: red;
    cursor:pointer;
}
.closebutton:hover i{
    color:darkred;
}
.closebutton:active i{
    color:#380000;
}
.closebutton{
    background-color: #1E1E1E;
    border-radius: 5px 0 0 0;
    cursor:grab;
    text-align: right !important;
}
.item:hover span{
    display: block;
}
.edititem form input{
    border: none;
    margin-left: 3px;
    color:white;
    opacity: 1;
    width: 95%;
    background-color: #1E1E1E;
    border-radius: 5px;
    cursor: text;
}
.edititem form textarea{
    border: none;
    border-radius: 3px;
    color:white;
    resize: vertical;
    background-color: #1E1E1E;
    margin-left: 5px;
    width:95%;
}
.edititem form button{
    left: 200px;
    width: max-content;
    justify-content: right;
}
.edititem{
    position: fixed;
    visibility:hidden;
    content-visibility: auto;
    width:300px;
    height: fit-content;
    top: 50%;
    left: 50%;
    z-index: 1000;
    background-color: #3700B3;
    border-radius: 10px;
    box-shadow: 0 0.2rem 1rem rgba(0,0,0,0.4) ;
}
.loadingcircle i{
    background-color: inherit;
    color: white;
}
.edititem form{
    margin-top: 10px;
    display: inline-block;
    bottom: 0;
    color: white;
    width: 100%;
    height: max-content;

}
.editdatepickerdiv{
font-size: small;
}
.edititem form button{
    background-color: #6200EE;
    border-radius: 5px;
    align-self: flex-end;
    color:white;
}
.edititem h1{
    height: 100%;
    margin-left: 10px;
    background-color:#3700B3;
    color: white;
}

.loader {
	display: inline-block;
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 10%;
    height: 10%;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg);
         }
    100% { transform: rotate(360deg); 
        }
}
.CurrentDate {
    vertical-align: center;
    background-color: inherit;
}
.CurrentDate a{
    background-color: inherit;
}
input {
    position: absolute;
    opacity: 0;
    width: 180px;
    height: 30px;
    overflow: hidden;
    cursor: pointer;
}
input::-webkit-calendar-picker-indicator {
    position: absolute;
    top: -150%;
    left: -150%;
    width: 300%;
    height: 300%;
    cursor: pointer;
}
/* In order for the selection pane */
.dateheader i {
    margin: 0 5 0 5;
    vertical-align: center;
    background-color: #6200EE;
    cursor: pointer;
}
.myView{
    animation: fadein 0.5s;
    overflow:visible;
    background: #1E1E1E;
    overflow-x: scroll;
    width: 100%;
    height: auto;
    align-items: center;
    table-layout: fixed;
    border-collapse: collapse;
    box-shadow: 0 0.2rem 1rem rgba(0,0,0,0.4) ;
}
.myView th{
    overflow:hidden;
    background: #121212;
    color: white;
    font-weight: 500;
    border-left: 1px solid #515151;
}
.myView td{
    overflow:visible;
    background: #1E1E1E;
    width: auto;
    border-left: 1px solid #515151;
    height: inherit;
}
.myView thead tr{
    background: #1E1E1E;
    height: 1px;
    border: 1px solid #515151;
    border-top: 1px solid #515151;
    border-bottom: 1px solid #515151;
}
.name{
    font-weight:500;
    text-align: center;
}
.switch {
    content-visibility: auto;
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  /* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  hr.edititemhr{
      border: 1px solid darkslategrey;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 17px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }