*{
    font-family: 'Roboto';
    background-color: #20262D;
}

.container{
width: auto;
height: auto;
overflow-y: hidden;
justify-content: center;
align-items: center;
}

.dropzone{
    flex-basis: 100%;
    flex-grow: 1;

    border-radius: 2px;
}

.Scheduler{
    overflow-y: hidden;

    width: auto;
    box-shadow: 0 0.2rem 1rem rgba(0,0,0,0.4) ;
    height: auto;
}

.item a{
    text-align: center;
}
/* In order for the drag and drop example pane*/
.itembox{
    border: 1px solid black;
    background-color: #6200EE;
    width: 50%;
    display: flex;
    justify-content: left;
    box-shadow: 0 0.2rem 1rem rgba(0,0,0,0.4) ;
    padding: 10px;
}

.timeframe i{
    cursor: pointer;
    background: inherit;
    color: white;
}

.timeframeselector{
    float:right;
    align-self: right;
    text-align: right;
    align-content: right;
    justify-content: right;
    padding-bottom: 8px;
}

.timeframe{
    padding-top: 10px;
    align-self: right;
    padding-left: 10px;
    background: #6200EE;
    width:max-content;
    color: white;
    padding-bottom: 10px;
    border-radius: 30px;
}

.timeframe i{
    margin-left: 5px;
    margin-right: 10px;
}

.origin{
    background-color: inherit;
    flex-basis: 100%;
    flex-grow: 1;
    
    padding: 10px;
}

.origin h1{
    vertical-align: top;
    font-size: 10pt;
    background-color: inherit;
    color: white;
}

.tooltip{
    font-size: 7pt;
    width: 100%;
    justify-content: center;
    color: grey;
    text-align: center;
    position: fixed;
    bottom: 0;
}

.name{
    color: white;
    background: inherit;
}

.item{
    background: #3700B3;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    cursor: grab;
    font-size: small;
    border-radius: 30px;
}

.item:hover{
    align-content: center;
    transform:scale(1.1);
    width: auto;
}

.dropzone{
    background-color: inherit;
flex-basis: 100%;
flex-grow: 1;
padding: 10px;
}

.empty{
height: 100%;
background: inherit;
/*flex-basis: 100%;
flex-grow: 1;*/
}

.empty:hover{
    filter: brightness(95%);
    background-color: #20262D;
    height: 100%;
    /*flex-basis: 100%;
    flex-grow: 1;*/
    }

.dateheader{
width: 100%;
border-radius: 10px 10px 0px 0px;
vertical-align: center;
padding-top: 5px;
display: flex;
justify-content: space-between;
padding-bottom: 5px;
color: white;
background: #6200EE;
text-shadow: 0 0.1rem 1rem rgb(0,0,0);
align-content: center;
justify-content: center;
text-align: center;
}

.CurrentDate a{
    vertical-align: center;
    background-color: #6200EE;
}

/* In order for the selection pane */
.dateheader i {
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: center;
    background-color: #6200EE;
    cursor: pointer;
}

.myView{
    background: #1E1E1E;
    overflow-x: scroll;
    width: 100%;
    height: auto;
    align-items: center;
    table-layout: fixed;
    border-collapse: collapse;
}

.myView th{
background: #121212;
color: white;
font-weight: 500;
border-left: 1px solid #515151;
}

.myView td{
    background: #1E1E1E;
    width: auto;
    border-left: 1px solid #515151;
    height: inherit;
}

.myView thead tr{
    background: #1E1E1E;
    height: 1px;
    border: 1px solid #515151;
    border-top: 1px solid #515151;
    border-bottom: 1px solid #515151;
}

.popup{
    border-radius: 10px;
    width: 200px;
    height: 150px;
    display: none;
    background-color: beige;
    border: 1px solid black;
}

.name{
    font-weight:500;
    text-align: center;
}